{% for project in site.projects %}

  {% if project.category == 'bedrock' %}
  <section id="bedrock">
    <span class="label">
      <h1>{{project.title}}</h1>
    </span>

    <div class="inner">
      <div class="text align">
        {{project.content}}
      </div>
    </div>
  </section>
  {% endif %}
{% endfor %}


<script src="{{ site.baseurl }}/assets/js/jquery-3.6.0.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/js.cookie.min.js"></script>

<script src="https://www.paypal.com/sdk/js?client-id=AWgBellbCDMnNqqHU2gDSOzvCaXMzfNDp-5i8HP7Kf8UiKO6xbYa-B4V9VbBeXtCJxG9rZk6cEApkN1F&disable-funding=credit,card"></script>
<script src="{{ site.baseurl }}/assets/js/buy-test.js"></script>

<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
