<nav>

  <button class="key-btn">key</button>

  <div class="key">
    
    <a class="mound" href="#mound"><span>mound.</span></a>

    {% for category in categories_array %}
      {% if category != 'bedrock' %}
        <a class="{{category}}" href="#{{category}}">
          <span>{{category}}</span>
        </a>
      {% endif %}
    {% endfor %}
    
    <!-- in order to place the bedrock key button at the end -->
    {% for category in categories_array %}
      {% if category == 'bedrock' %}
        <a class="{{category}}" href="#{{category}}">
          <span>{{category}}</span>
        </a>
      {% endif %}
    {% endfor %}
  
  </div>

</nav>
