---
layout: default
---
<article class="studio">
{% for project in site.studio %}

  <details>
    <summary class="{{ project.tags }}">
      <span>{{ project.year }}</span>
      <span>

        {% if project.link %}
          <a class="proj-link" href="{{ project.link }}">{{ project.title }}</a>
        {% else %}
          {{ project.title }}
        {% endif %}
        &nbsp;&nbsp;
      </span>
      
      {% if project.more %}
        <span class="handle">[+]</span>
      {% endif %}
    </summary>
    <div class="drawer">

      <!-- {% if project.link %}
        <a class="proj-link" href="{{ project.link }}">{{ project.link }}</a><br>
      {% endif %} -->

      {{ project.description }}<br>
      
      {{ project.content }}

      {% if project.images %}
      <div class="images">
        {% for image in project.images %}
          <img src="{{ image.path | prepend: site.baseurl }}">
        {% endfor %}
      </div>
      {% endif %}

      <!-- {% for tag in project.tags %}
        {{tag}}{% unless forloop.last %},
        {% endunless %}
      {% endfor %} -->
    </div>
  </details>

{% endfor %}
</article>


